.georgian {
  padding: 10px 8px;
  margin-right: 8px;
  border: 2px solid rgb(22, 22, 201);
  border-radius: 5px;
  background-color: #ffffff;
  color: rgb(22, 22, 201);
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: rgb(22, 22, 201);
    color: #ffffff;
  }
}
