.week-info-spacing {
  display: flex;

  .info-spacing {
    display: flex;
    margin-left: 150px;
    margin-top: 20px;

    .first-name {
      display: flex;
      justify-content: center;
      width: 150px;
      height: 38px;
      border: 1px solid black;
    }

    .last-name {
      display: flex;
      justify-content: center;
      width: 150px;
      height: 38px;
      border: 1px solid black;
    }
  }
  .week-spacing {
    display: flex;
    margin-top: 20px;
    margin-left: 150px;

    .monday {
      display: flex;
      justify-content: center;
      width: 150px;
      height: 38px;
      border: 1px solid black;
    }
    .tuesday {
      display: flex;
      justify-content: center;
      width: 150px;
      height: 38px;
      border: 1px solid black;
    }
    .wednesday {
      display: flex;
      justify-content: center;
      width: 150px;
      height: 38px;
      border: 1px solid black;
    }
    .thursday {
      display: flex;
      justify-content: center;
      width: 150px;
      height: 38px;
      border: 1px solid black;
    }
    .friday {
      display: flex;
      justify-content: center;
      width: 150px;
      height: 38px;
      border: 1px solid black;
    }
  }
}
