.week-info-spacing {
  display: flex;

  .info-spacing {
    display: flex;
    margin-left: 150px;
    margin-top: 20px;

    .first-name {
      display: flex;
      justify-content: center;
      width: 150px;
      height: 30px;
      border: 1px solid black;
      font-size: 20px;
    }

    .last-name {
      display: flex;
      justify-content: center;
      width: 150px;
      height: 30px;
      border: 1px solid black;
      font-size: 20px;
    }
  }
  .week-spacing {
    display: flex;
    margin-top: 20px;
    margin-left: 150px;

    .monday {
      display: flex;
      justify-content: center;
      width: 150px;
      height: 30px;
      border: 1px solid black;
      font-size: 20px;
    }
    .tuesday {
      display: flex;
      justify-content: center;
      width: 150px;
      height: 30px;
      border: 1px solid black;
      font-size: 20px;
    }
    .wednesday {
      display: flex;
      justify-content: center;
      width: 150px;
      height: 30px;
      border: 1px solid black;
      font-size: 20px;
    }
    .thursday {
      display: flex;
      justify-content: center;
      width: 150px;
      height: 30px;
      border: 1px solid black;
      font-size: 20px;
    }
    .friday {
      display: flex;
      justify-content: center;
      width: 150px;
      height: 30px;
      border: 1px solid black;
      font-size: 20px;
    }
  }
}

.student-form-spacing {
  display: flex;

  .new-student {
    display: flex;
    margin-left: 150px;
    margin-top: -1px;

    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 30px;
      border: 1px solid black;
      font-size: 20px;
    }
  }
  .form {
    margin-left: 150px;
    margin-top: -1px;
  }
  .form input {
    width: 150px;
    height: 30px;
    border: 1px solid black;
    font-size: 20px;
  }

  .form input::placeholder {
    text-align: center;
  }
}
