.add-student {
  padding: 10px 8px;
  position: fixed;
  bottom: 30px;
  left: 150px;
  border: 2px solid rgb(22, 22, 201);
  border-radius: 5px;
  background-color: rgb(22, 22, 201);
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: #ffffff;
    color: rgb(22, 22, 201);
  }
}
